[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
anyhow = "1.0.98"
async-trait = "0.1.80"
axum = "0.8.0"
base64 = "0.22.1"
bytes = "1.10.1"
cbindgen = "0.29.0"
component-init-transform = { version = "0.1.0", git = "https://github.com/dicej/component-init" }
dashmap = "6.1.0"
fastant = "0.1.10"
futures = "0.3.31"
futures-core = "0.3.30"
futures-util = "0.3.31"
http = "1.3.1"
http-body = "1.0.1"
http-body-util = "0.1.2"
hyper = "1.4.1"
metrics = "0.24.1"
metrics-exporter-prometheus = { version = "0.17.0", default-features = false }
mimalloc = { version = "0.1.41", default-features = false }
minicbor-serde = "0.6.0"
opentelemetry = "0.30.0"
opentelemetry-otlp = { version = "0.30.0", default-features = false }
opentelemetry-semantic-conventions = "0.30.0"
opentelemetry_sdk = "0.30.0"
parking_lot = "0.12.2"
pin-project-lite = "0.2.16"
promptkit-cbor = { path = "crates/cbor" }
promptkit-executor = { path = "crates/executor" }
promptkit-request = { path = "crates/request" }
promptkit-trace = { path = "crates/trace" }
prost = "0.13.0"
prost-types = "0.13.0"
rand = "0.9.0"
reqwest = { version = "0.12.12", default-features = false }
rlimit = "0.10.2"
serde = "1.0.219"
serde-transcode = "1.1.1"
serde_json = "1.0.140"
sha2 = "0.10.8"
smallvec = "1.13.2"
tempfile = "3.10.1"
thiserror = "2.0.12"
tokio = "1.45.1"
tokio-stream = "0.1.15"
tokio-tungstenite = { version = "0.27.0", default-features = false }
tonic = { version = "0.13.0", default-features = false }
tonic-build = "0.13.0"
tonic-reflection = "0.13.0"
tonic-web = "0.13.0"
tower-http = "0.6.0"
tracing = "0.1.41"
tracing-opentelemetry = "0.31.0"
tracing-subscriber = "0.3.19"
url = "2.5.1"
wasmtime = { version = "35.0.0", default-features = false }
wasmtime-wasi = "35.0.0"
wasmtime-wasi-http = "35.0.0"
zip = { version = "4.3.0", default-features = false }

[profile.release-lto]
inherits = "release"
lto = true
codegen-units = 1
strip = true
