[workspace]
resolver = "2"
members = [
    "crates/c-api",
    "crates/cbor",
    "crates/executor",
    "crates/request",
    "crates/server",
    "crates/trace",
]

[workspace.package]
version = "0.1.0"
edition = "2024"
publish = false
license = ""

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"

[workspace.dependencies]
anyhow = "1.0"
async-trait = "0.1"
axum = "0.8"
base64 = "0.22"
bytes = "1.10"
cbindgen = "0.29"
component-init-transform = { git = "https://github.com/dicej/component-init" }
dashmap = "6.1"
fastant = "0.1"
futures = "0.3"
http = "1.3"
http-body = "1.0"
http-body-util = "0.1"
hyper = "1.4"
log = "0.4"
metrics = "0.24"
metrics-exporter-prometheus = { version = "0.17", default-features = false }
mimalloc = { version = "0.1", default-features = false }
minicbor = "2.0"
minicbor-serde = "0.6"
opentelemetry = "0.30"
opentelemetry-otlp = { version = "0.30", default-features = false }
opentelemetry-semantic-conventions = "0.30"
opentelemetry_sdk = "0.30"
parking_lot = "0.12"
pin-project-lite = "0.2"
promptkit-cbor = { path = "crates/cbor" }
promptkit-executor = { path = "crates/executor" }
promptkit-request = { path = "crates/request" }
promptkit-trace = { path = "crates/trace" }
prost = "0.14"
prost-types = "0.14"
rand = "0.9"
reqwest = { version = "0.12", default-features = false }
rlimit = "0.10"
serde = "1.0"
serde-transcode = "1.1"
serde_json = "1.0"
sha2 = "0.10"
smallvec = "1.13"
tempfile = "3.10"
thiserror = "2.0"
tokio = "1.45"
tokio-stream = "0.1"
tokio-tungstenite = { version = "0.27", default-features = false }
tonic = { version = "0.14", default-features = false }
tonic-prost = "0.14"
tonic-prost-build = "0.14"
tonic-reflection = "0.14"
tonic-web = "0.14"
tower-http = "0.6"
tracing = "0.1"
tracing-opentelemetry = "0.31"
tracing-subscriber = "0.3"
tungstenite = { version = "0.28", default-features = false }
url = "2.5"
wasmtime = { version = "37.0", default-features = false }
wasmtime-wasi = "37.0"
wasmtime-wasi-http = { version = "37.0", default-features = false }
zip = { version = "5.0", default-features = false }

[profile.release-lto]
inherits = "release"
lto = true
codegen-units = 1
strip = true
