[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2024"
publish = false
license = ""

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"
nursery = "warn"

[workspace.dependencies]
anyhow = "1.0"
async-trait = "0.1"
axum = "0.8"
base64 = "0.22"
bytes = "1.10"
cbindgen = "0.29"
component-init-transform = "0.1"
dashmap = "6.1"
eventsource = { version = "0.5", default-features = false }
fastant = "0.1"
futures = "0.3"
glob = "0.3"
heapless = "0.9"
http = "1.3"
http-body = "1.0"
http-body-util = "0.1"
hyper = "1.4"
log = "0.4"
metrics = "0.24"
metrics-exporter-prometheus = { version = "0.18", default-features = false }
mimalloc = { version = "0.1", default-features = false }
minicbor = "2.0"
minicbor-serde = "0.6"
opentelemetry = "0.31"
opentelemetry-otlp = { version = "0.31", default-features = false }
opentelemetry-semantic-conventions = "0.31"
opentelemetry_sdk = "0.31"
parking_lot = "0.12"
pin-project-lite = "0.2"
promptkit = { path = "crates/promptkit" }
promptkit-c-api = { path = "crates/c-api" }
promptkit-cbor = { path = "crates/cbor" }
promptkit-request = { path = "crates/request" }
promptkit-trace = { path = "crates/trace" }
prost = "0.14"
prost-types = "0.14"
pyo3 = "0.27"
rand = "0.9"
reqwest = { version = "0.12", default-features = false }
rlimit = "0.10"
rmcp = "0.9"
serde = "1.0"
serde-transcode = "1.1"
serde_json = "1.0"
serde_yaml = "0.9"
sha2 = "0.10"
smallvec = "1.13"
tempfile = "3.10"
thiserror = "2.0"
tokio = "1.45"
tokio-stream = "0.1"
tokio-tungstenite = { version = "0.28", default-features = false }
tonic = { version = "0.14", default-features = false }
tonic-prost = "0.14"
tonic-prost-build = "0.14"
tonic-reflection = "0.14"
tonic-web = "0.14"
tower-http = "0.6"
tracing = "0.1"
tracing-opentelemetry = "0.32"
tracing-subscriber = "0.3"
tungstenite = { version = "0.28", default-features = false }
url = "2.5"
wasi-preview1-component-adapter-provider = "39.0"
wasmtime = { version = "39.0", default-features = false }
wasmtime-wasi = "39.0"
wasmtime-wasi-http = { version = "39.0", default-features = false }
wit-bindgen = { version = "0.48", default-features = false }
wit-component = "0.242"
xshell = "0.2"
zip = { version = "6.0", default-features = false }

[profile.release-lto]
inherits = "release"
lto = true
strip = true
