[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "Unicode-3.0",
    "BlueOak-1.0.0",
    "Zlib",
    "BSD-3-Clause",
    "ISC",
    "MPL-2.0",
]
exceptions = [
    { allow = ["CDLA-Permissive-2.0"], crate = "webpki-roots" },
]

[licenses.private]
ignore = true

[bans]
multiple-versions = "allow"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = ["https://github.com/dicej/component-init"]
