[project]
name = "promptkit"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = []

[tool.uv.sources]
promptkit-py = { path = "wasm/crates/python/bundled" }

[dependency-groups]
dev = [
    "betterproto[compiler]>=2.0.0b7",
    "mypy>=1.15.0",
    "promptkit-py",
    "pytest>=8.3.5",
    "pytest-asyncio>=0.26.0",
    "pytest-httpbin>=2.1.0",
    "ruff>=0.11.2",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
asyncio_default_fixture_loop_scope = "module"
asyncio_default_test_loop_scope = "module"

[tool.ruff]
exclude = ["tests/stub/*"]
src = ["tests"]

[tool.ruff.lint]
select = [
    "E",
    "F",
    "UP",
    "B",
    "SIM",
    "I",
]

[[tool.mypy.overrides]]
module = ["stub.promptkit.script.v1"]
disable_error_code = ["arg-type"]

[tool.pyright]
venvPath = "."
venv = ".venv"
