[project]
name = "promptkit"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = []

[tool.uv.sources]
promptkit-py = { workspace = true }
promptkit-tests-rpc = { workspace = true }

[tool.uv.workspace]
members = [
    "wasm/crates/python/bundled",
    "tests/rpc",
]

[dependency-groups]
dev = [
    "mypy>=1.15.0",
    "ruff>=0.11.2",
    "types-pyyaml>=6.0.12.20250516",
]

[tool.ruff]
exclude = ["tests/rpc/src/stub/*"]

[tool.ruff.lint]
select = [
    "E",
    "F",
    "UP",
    "B",
    "SIM",
    "I",
    "TC",
]

[tool.ruff.lint.flake8-type-checking]
quote-annotations = true

[[tool.mypy.overrides]]
module = ["stub.*"]
disable_error_code = ["arg-type"]

[tool.pyright]
venvPath = "."
venv = ".venv"
