[workspace]
resolver = "2"
members = [
  "crates/*",
]

[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace.dependencies]
wasi = "0.13.0"

[profile.xtask]
inherits = "release"
opt-level = 1
