[tasks.build-wasm]
command = "cargo"
args = ["rustc", "--crate-type", "cdylib", "--profile", "release", "--target", "wasm32-wasip1", "-p", "promptkit_python"]
env = { PYO3_CROSS_PYTHON_VERSION = "3.12" }

[tasks.wizer]
command = "wizer"
args = [
    "--allow-wasi",
    "--wasm-bulk-memory",
    "true",
    "target/wasm32-wasip1/release/promptkit_python.wasm",
    "--mapdir",
    "/usr::target/wasm32-wasip1/wasi-deps/usr",
    "--mapdir",
    "/workdir::/tmp",
    "-o",
    "target/wasm32-wasip1/release/promptkit_python.init.wasm"
]
condition.files_modified.input = ["target/wasm32-wasip1/release/promptkit_python.wasm"]
condition.files_modified.output = ["target/wasm32-wasip1/release/promptkit_python.init.wasm"]
dependencies = ["build-wasm"]

[tasks.opt-wasm]
command = "wasm-opt"
args = [
    "-O3", "--gufa", "-O3",
    "--strip-debug",
    "target/wasm32-wasip1/release/promptkit_python.init.wasm",
    "-o",
    "target/wasm32-wasip1/release/promptkit_python.opt.wasm"
]
condition.files_modified.input = ["target/wasm32-wasip1/release/promptkit_python.init.wasm"]
condition.files_modified.output = ["target/wasm32-wasip1/release/promptkit_python.opt.wasm"]
dependencies = ["wizer"]

[tasks.wasm-component]
command = "wasm-tools"
args = [
    "component",
    "new",
    "target/wasm32-wasip1/release/promptkit_python.opt.wasm",
    "-o",
    "target/promptkit_python.wasm",
    "--adapt",
    "wasi_snapshot_preview1=lib/wasi_snapshot_preview1.reactor.wasm",
]
dependencies = [
    "opt-wasm",
]

[tasks.wasm]
dependencies = [
    "wasm-component"
]
workspace = false
