[tool.ruff]
target-version = "py312"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "COM812", "S101", "CPY",
    "D10", "D203", "D213",
    "PLR09", "PLR2004", "PLC2701", "C901",
]
extend-safe-fixes = ["TC"]
preview = true
future-annotations = true

[tool.ruff.lint.per-file-ignores]
"bundled/tests/**/*.py" = ["BLE001", "PLC0415", "DOC", "INP001", "ANN001"]

[tool.ruff.format]
preview = true

[tool.mypy]
files = ["crates/python/bundled"]
strict = true
python_version = "3.12"
mypy_path = "crates/python/bundled/typings"
disable_error_code = [
    "decorated-any",
    "explicit-any",
    "any",
]

[tool.pyright]
venv = ".venv"
venvPath = "../.."
include = ["bundled"]
stubPath = "bundled/typings"
typeCheckingMode = "strict"
enableExperimentalFeatures = true
reportMissingModuleSource = false
