name: Python

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install uv
        run: python -m pip install --upgrade uv
      - name: Sync Python dependencies
        run: uv sync --all-packages
      - name: Ruff check
        run: uv run ruff check
      - name: Mypy check
        run: uv run mypy
      - name: Basedpyright check
        run: uv run basedpyright
