name: Python

on:
  push:
    branches:
      - main
      - develop
      - renovate/**
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Sync Python dependencies
        run: uv sync --all-packages --no-install-package isola
      - name: Ruff check
        run: |
          uv run ruff check --config crates/python-runtime/pyproject.toml crates/python-runtime/python
          uv run ruff check --config crates/python-sdk/pyproject.toml crates/python-sdk
      - name: Mypy check
        run: |
          uv run mypy --config-file crates/python-runtime/pyproject.toml
          uv run mypy --config-file crates/python-sdk/pyproject.toml
      - name: Basedpyright check
        run: |
          uv run basedpyright --project crates/python-runtime/pyproject.toml
          uv run basedpyright --project crates/python-sdk/pyproject.toml
