name: Python

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install uv
        run: python -m pip install --upgrade uv
      - name: Sync Python dependencies
        run: uv sync --all-packages
      - name: Ruff check
        run: |
          uv run ruff check --config crates/python/pyproject.toml crates/python/bundled
          uv run ruff check --config crates/py-binding/pyproject.toml crates/py-binding/python crates/py-binding/tests
      - name: Mypy check
        run: |
          uv run mypy --config-file crates/python/pyproject.toml
          uv run mypy --config-file crates/py-binding/pyproject.toml
      - name: Basedpyright check
        run: |
          uv run basedpyright --project crates/python/pyproject.toml
          uv run basedpyright --project crates/py-binding/pyproject.toml
