name: Server (Rust)

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - .github/**
      - crates/**
      - apis/**
      - Cargo.lock
      - Cargo.toml
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
